.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1400px;
}

@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: repeat(1, minmax(200px, auto));
    }

    .container > * {
        height: auto;
    }
}

.container > * {
    background-color: #00000066;
    backdrop-filter: blur(20px);
    border-radius: var(--radius-main);
    padding: 10px;
    color: #ffffff;
    border: 1px solid #ffffff22;
}

.argumentContainer {
    padding: 40px;
}

.argumentContainer:hover {
    transition-duration: 300ms;
}

.argumentContent {
    line-height: var(--paragraph-line-height);
}

.argumentTitle {
    display: flex;
    justify-content: space-between;
}

.argumentTitleText {
    margin-bottom: 20px;
    font-weight: 700;
}