.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1400px;
}

.entry {
    display: flex;
    flex-direction: row;
}

.entry_image {
    position: relative;
    min-width: 400px;
    height: inherit;
    border-radius: var(--radius-main);
}

.entry_image > * {
    border-radius: var(--radius-main);
}

.line_container {
    height: inherit;
    margin: auto 0 auto 0;
}

.line {
    height: 2px;
    background-color: var(--color);
    width: 40px;
}

.argumentContainer {
    background-color: var(--color);
    border-radius: var(--radius-main);
    padding: 40px;
    color: var(--secondary);
}

.argumentContainer:hover {
    transition-duration: 200ms;
}

.argumentContent {
    line-height: var(--paragraph-line-height);
}

.argumentTitle {
    display: flex;
    justify-content: space-between;
}

.argumentTitleText {
    margin-bottom: 20px;
    font-weight: 700;
}

.button_container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}