.banner {
    /* background-color: var(--color-contrast); */
    color: var(--color-text-light);
    min-height: 40vh;
    border-radius: var(--radius-main);
    display: flex;
    overflow: hidden;
    max-width: 1400px;
    margin-top: 40px;
}

.banner > * {
    border-radius: var(--radius-main);
    width: 100%;
    z-index: 2;
}

.title > * {
    position: relative;
    z-index: 2;
    border-radius: var(--radius-main);
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    padding-top: 225px;

    padding-bottom: 50px;
}

.title {
    align-items: center;
    color: var(--color-text-dark);
    position: relative;
    z-index: 2;
}

.title h1 {
    width: auto; /* 0px */
    height: auto; /* 0px */
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    font-family: "Sora", serif;
    color: var(--color);
    font-size: 80px;
    margin: 0;
    left: 0;
    letter-spacing: 0;
    line-height: 1.2;
}

.bannerDesc {
    color: var(--color);
    opacity: 80%;
    font-size: 40px;
}