.downer {
    max-width: 1400px;
    margin: 40px auto 40px auto;
}

.downer:hover > .text, .downer:hover > .icon {
    cursor: pointer;
    opacity: 100%;
    animation-duration: 500ms;
}

.downer > .text, .downer:hover > .icon {
    text-align: center;
    width: 100%;
    margin: auto;
    color: var(--color);
    font-size: 24px;
    opacity: 80%;
    transition-duration: 200ms;
}

.downer > .icon {
    text-align: center;
    width: 100%;
    margin: auto;
    color: var(--color);
    opacity: 60%;
    transition-duration: 200ms;

    animation-duration: 1000ms;
    animation-name: translate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes translate {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }
}
