.footer {
    background-color: #000000;
}

.content {
    margin-inline: auto;
    display: flex;
    justify-content: stretch;
    color: #ffffff;
    margin-top: 40px;
    padding: 40px;
    gap: 40px;
    line-height: var(--paragraph-line-height);
    max-width: 1400px;
}

.relative {
    position: relative;
    height: 100%;
}

.content > .right {
    flex: 2 1 0;
}

.content > .left {
    flex: 1 1 0;
}

.title {
    font-weight: 700;
    margin-bottom: 20px;
}

.subtext {
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.link:visited {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    border-bottom: 2px solid;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex > * {
    padding: 5px 14px 5px 14px;
}