.container_normal {
    position: sticky;
    top: 0;
    z-index: 9998;
}

.sticky {
    background-color: #00000022;
}

.notification_container {
    background-color: #000000;
    color: #ffffff;
    background-blend-mode: difference;

}

.notification {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin: auto;
}

.notification_button {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    z-index: 9999;
    max-width: 1400px;
    margin-inline: auto;
}

.external, .internal {
    display: flex;
    gap: 20px;
    color: #ffffff;
}

.logo {
}

.title {
    font-weight: 900;

    animation-duration: 2000ms;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.title_thin {
    font-weight: 200;
    font-style: normal;
}

.external {
    justify-content: right;
}

.launchButton {
    background-color: var(--color-contrast);
    color: var(--color-text-light);
}

.separator {
    background-color: #ffffff66;
    width: 20px;
    height: 1px;
    margin: auto;
}

@keyframes glow {
    from {
        text-shadow: rgba(255,255,255,0.9) 0px 0px 15px;
    }

    to {
        text-shadow: rgba(255,255,255,0.6) 0px 0px 10px;
    }
}