.container_normal {
    position: sticky;
    top: 0;
    z-index: 9998;
}

.sticky {
    background-color: #00000022;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    z-index: 9999;
    max-width: 1400px;
    margin-inline: auto;
}

.external, .internal {
    display: flex;
    gap: 20px;
    color: #ffffff;
}

.logo {
}

.external {
    justify-content: right;
}

.launchButton {
    background-color: var(--color-contrast);
    color: var(--color-text-light);
}

.separator {
    background-color: #ffffff66;
    width: 20px;
    height: 1px;
    margin: auto;
}