.timeline {
    margin: 0;
    padding: 0;
    margin-inline: auto;
    max-width: 1400px;
    font-size: 18px;
    margin-bottom: 150px;
}

.element {
    display: flex;
    color: #FFFFFFAA;
}

.card {
    padding: 20px 0 20px 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: rgba(0, 0, 0, .6);
    height: 2px;
    margin: auto 0 auto 37px;
}

.number {
    position: absolute;
    top: 0;
}

@media screen and (max-width: 700px) {
    .card {
        padding: 40px 5vw 40px 0;
        width: 100%;
        display: flex;
        font-size: 40px;
    }

    .content {
        font-size: 3vw;
    }
}

.timeline > .step {
    background-color: var(--color-contrast);
    width: 100%;
}

.panel {
    width: 100%;
}

.right {
    max-width: calc(1400px / 4);
    padding: 20px 20px 20px 20px;
}

.panel.left {
}

.panel.right {
    line-height: var(--paragraph-line-height);
}

.column {
    display: flex;
    flex-direction: column;
}